@import "tailwindcss";

p,
h1,
h2,
h3,
h4,
h5,
h6,
table,
button {
  margin: 0;
}

dialog {
  border-radius: 20px;
  width: 91%;
  max-width: 512px;
  padding: 24px 28px;
}

button {
  padding-left: 12px;
  padding-right: 12px;
}

button.ghost {
  color: var(--accent);
  text-decoration: none;

  background-color: transparent;
  border: none;
}
button.ghost:hover {
  background-color: transparent;
  border: none;
}
